.form-container
   form.form(action='', method='', name = "form1", id = "contact-me")
      .form__title Заказать звонок

      .form-line
         .form-line__label
            label.form-line__label-text Ваше имя
         .form-line__field
            input.form-input.required(type='text', name='name', placeholder='Имя' qtip-content = "Введите имя", qtip-position="right")

      .form-line
         .form-line__label
            label.form-line__label-text Телефон
         .form-line__field
            input.form-input.required(type='text', name='phone', placeholder='Телефон' qtip-content = "Введите телефон", qtip-position="right")

      .form-line
         .form-line__label
            label.form-line__label-text.xren(qtip-content = "Введите дату", qtip-position="right") Дата звонка
         .form-line__field.form-line__field_right
            .custom-select
               .form-input.custom-select__control(data-default='01', data-name='day') 01
               input.custom-select__control-required(type='hidden', name='day')
               ul.custom-select__list
                  - for (var x = 1; x <= 31; x++)
                     if(x < 10)
                        li.custom-select__list-item(data-value='0' + x)= '0' + x
                     else
                        li.custom-select__list-item(data-value=x)= x

            .custom-select
               .form-input.custom-select__control(data-default='11', data-name='month') 11
               input.custom-select__control-required(type='hidden', name='month')
               ul.custom-select__list
                  - for (var x = 1; x <= 12; x++)
                     if(x < 10)
                        li.custom-select__list-item(data-value='0' + x)= '0' + x
                     else
                        li.custom-select__list-item(data-value=x)= x

      .form-line
         .form-line__field
            textarea.form-textarea.required(name='msg', placeholder='Комментарий', qtip-content = "Введите имя")

      .btn-container
         input.btn.btn_to_left(type='submit', value='Отправить')
         input.btn.btn_neg.btn_to_right(type='reset', value='Очистить')
