mixin product(src, link, linktext)
   li.products-list__item
      .products-headline
         .products-headline__thumb
            img.products-headline__img(src='img/products/#{src}', alt='#{linktext}')
         .products-headline__title
            a.products-headline__link(href='#{link}') #{linktext}
      .products-tbl
         .products-line
            .products-line__label  Артикул
            .products-line__value  42787825
         .products-line
            .products-line__label  Опция
            .products-line__value  включена
         .products-line
            .products-line__label  Цвет
            .products-line__value  серебристый
         .products-line
            .products-line__label  Размер
            .products-line__value  1280*1245*90
         .products-line
            .products-line__label  Вес
            .products-line__value  9 кг
.products
   .products-section
      span.products-section__text Популярные товары
   ul.products-list
      +product('apple-thunderb-27.jpg', '#', 'Apple Thunderb Display 27"')
      +product('iMac-27.jpg', '#', 'iMac 27"')
      +product('iPhone-5s-Gold.jpg', '#', 'iPhone 5s Gold')
   .products-section
      span.products-section__text Товары со скидкой
   ul.products-list
      +product('iPad-Air-Silver.jpg', '#', 'iPad Air Wi-Fi 128GB - Silver')
      +product('Apple-iPod-Blue.jpg', '#', 'Apple iPod nano 7G 16 ГБ Blue')
      +product('Apple-AirPort.jpg', '#', 'Роутер Wi-Fi Apple AirPort')

