extends _layout
block title
   title ЭпплShop
block aside
   include includes/_form
   include includes/_gallery
   include includes/_contacts
block main
   include includes/_slider
   include includes/_products
