@import "value";

/* --- Блок с контактами
-----------------------------------------------------------*/
.contacts-list {
  @extend .list-reset;
  background: $color-gray;
  padding: 15px 15px 15px 23px;

  &__item + &__item {
    margin-top: 10px;
  }

  &__link {
    font: 14px/20px $ff-el-r;
    color: $color-blue;
    text-decoration: none;
  }
}
.contacts-icon {
  position: relative;

  &:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 22px;
  }

  &_location {
    padding-left: 20px;

    &:before {
      background: url('../img/icon/location-icon.png') no-repeat 0 0;
    }
  }

  &_phone {
    padding-left: 40px;

    &:before {
      left: 20px;
      background: url('../img/icon/phone-icon.png') no-repeat 0 0;
    }
  }
}