@import "value";

/* -- Общие элементы формы
------------------------------------------------------------*/
.form-container {
  background: $color-gray;
  padding: 14px 10px;
  margin-bottom: 15px;
}

/* Заголовок формы
-----------------------------------------------------------------*/
.form__title {
  font: 25px/1 $ff-em-r;
  color: $color-blue;
  margin-bottom: 20px;
}

/* Оформление инпутов
-------------------------------------------------------------------*/
.form-line {
  margin-bottom: 15px;
  display: table;
  width: 100%;

  &__label,
  &__field {
    display: table-cell;
    vertical-align: middle;
  }

  &__label {
    padding-right: 7px;
    min-width: 77px;
    max-width: 90px;
  }
  &__label-text {
    font: 14px/1 $ff-el-r;
    color: $color-blue;
  }

  &__field {
    line-height: 0;

    &_right {
      text-align: right;
    }
  }
}

/* Инпуты оформление
-------------------------------------------------------------------------*/
.form-control {
  font: 12px $ff-el-r;
  color: $color-blue;
  padding: 4px 7px;
  width: 100%;
  border: 1px solid $color-light-gray;

  &::placeholder {
    font: 12px $ff-el-r;
    color: $color-light-gray;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
  }
  &:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
.error {
  background: $color-light-pink;
  border-color: $color-pink;

  &::placeholder {
    color: $color-pink;
  }
}

.form-input {
  @extend .form-control;
  height: 26px;
}
.form-textarea {
  @extend .form-control;
  height: 69px;
  max-height: 200px;
  resize: vertical;
}

/* Выпадающие списки для формы
----------------------------------------------------------------------*/
.custom-select {
  position: relative;
  width: 52px;
  display: inline-block;
  vertical-align: top;
  background: #fff;

  & + & {
    margin-left: 5px;
  }

  &__control {
    color: $color-light-gray;
    padding: 5px 26px 4px 5px;
    cursor: pointer;
    text-align: left;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 24px;
      width: 27px;
      background-color: $color-bright-blue;
      background-image: url('../img/icon/select-arrow.jpg');
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &_selected {
      color: $color-blue;
    }

  }

  &__list {
    display: none;
    @extend .list-reset;
    font: 12px/1 $ff-el-r;
    padding: 2px 0 2px 2px;
    text-align: left;
    background: $color-white;
    border: 1px solid $color-light-gray;
    max-height: 225px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;

    &-item {
      padding: 4px 6px;
      display: block;
      cursor: pointer;

      &:hover {
        background-color: $color-gray;
      }

      &:first-child {
        padding-top: 6px;
      }

      &:last-child {
        padding-bottom: 6px;
      }
    }
  }

}
.ie .custom-select__control {
  color: $color-blue;
}



/* - Кнопки на форме
----------------------------------------------------------*/
.btn-container {
  @extend .clearfix;
}
.btn {
  font: 15px $ff-el-b;
  color: $color-white;
  padding: 8px 5px;
  min-width: 90px;
  text-align: center;
  background: $color-bright-blue;
  border: none;
  transition: background .3s ease;
  cursor: pointer;

  &:hover {
    background: darken($color-bright-blue, 7%);
  }

  &_neg {
    background: $color-light-gray;

    &:hover {
      background: darken($color-light-gray, 7%);
    }
  }
}
.btn_to {
  &_left {
    float: left;
  }
  &_right {
    float: right;
  }
}
.btn[disabled] {
  opacity: 0.5;
}
/* - -------Сообщения на форме
------------------------------------------------------------------*/
.message {
  font-size: 12px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid;
  border-radius: 2px;

  &_error {
    color: $color-pink;
    background: $color-light-pink;
    border-color: $color-pink;
  }
  &_success {
    color: $color-green;
    background: $color-light-green;
    border-color: $color-green;
  }
}


/* -------------- Тултипы на форме
-------------------------------------------------------------------*/
.tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  transition: all .4s ease;

  &__inner {
    font-size: 12px;
    color: $color-white;
    padding: 5px 8px;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    background: $color-pink;
    border-radius: 2px;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      border-color: transparent;
      border-style: solid;
    }
  }
}

.tooltip_right,
.tooltip_left {
  padding: 0 5px;

  .tooltip__inner {
    &:after {
      top: 50%;
      margin-top: -5px;

    }
  }
}

.tooltip_top,
.tooltip_bottom {
  padding: 5px 0;

  .tooltip__inner {
    &:after {
      left: 50%;
      margin-left: -5px;
    }
  }
}

.tooltip_right {
  .tooltip__inner {
    &:after {
      left: 0;
      border-width: 5px 5px 5px 0;
      border-right-color: $color-pink;
    }
  }
}
.tooltip_left {
  .tooltip__inner {
    &:after {
      right: 0;
      border-width: 5px 0 5px 5px;
      border-left-color: $color-pink;
    }
  }
}
.tooltip_bottom {
  .tooltip__inner {
    &:after {
      top: 0;
      border-width: 0 5px 5px;
      border-bottom-color: $color-pink;
    }
  }
}
.tooltip_top {
  .tooltip__inner {
    &:after {
      bottom: 0;
      border-width: 5px 5px 0;
      border-top-color: $color-pink;
    }
  }
}

