/* -------- Галлерея из картинок
------------------------------------------------------*/
.gallery-list {
  @extend .list-reset;
  font-size: 0;
  margin: 0 0 20px -10px;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px 10px;
  }
}