@import "value";
/* - Вставки и миксины
---------------------------------------------------------------*/
@mixin center-pos ($width:null) {
  width: $width;
  margin: 0 auto;
  box-sizing: content-box;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  font: 1em/1.4 $ff-el-r;
  color: $color-blue;
  background: #fff;
  min-width: 1020px;
}

:focus {
  outline:none;
}

img {
  max-width: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 1020px;
  height: auto!important;

  &:after {
    content: '';
    height: 238px;
    display: block;
  }
}
.container {
  @extend .clearfix;
  @include center-pos ($width:1000px);

  &__left {
    float: left;
    width: 230px;
  }

  &__right {
    float: right;
    width: 740px;
  }
}
.logo {
  margin-bottom: 18px;

  &__link {
    display: block;
  }

  &__text {
    display: none;
  }
}
.main-content {
  padding: 38px 0 30px;
  position: relative;
}
.footer {
  position: relative;
  height: 238px;
  margin-top: -238px;
  padding-top: 57px;
  overflow: hidden;
  background: $color-violet url('../img/bg/footer-bg.png') repeat;

  &__logo {
    margin-top: 42px;
  }

  &__sitemap {
    float: left;
    width: 510px;

    &-col {
      float: left;
      width: 161px;
    }
  }

  &__socials {
    float: right;
    width: 185px;
    font-size: 0;
    margin-top: 15px;
    &-btns {
      margin-bottom: 26px;
    }
  }
}

.footer-links {
  @extend .list-reset;

  &-title {
    font: 15px/1 $ff-el-b;
    color: $color-white;
    margin-bottom: 9px;
  }

  &__link {
    font: 15px/25px $ff-el-r;
    color: $color-white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.social-btns {
  @extend .list-reset;
  display: inline-block;

  &__item {
    display: inline-block;

    & + & {
      margin-left: 5px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__img {
    display: block;
  }
}

.social-list {
  @extend .list-reset;
  display: inline-block;
  margin-left: -3px;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 7px;
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__icon {
    display: block;
  }
}
.to-top-btn {
  font: 1em/1 $ff-em-r;
  color: $color-white;
  background: $color-bright-blue;
  text-decoration: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 9px 11px;
  z-index: 100;
  display: none;

  &:before,
  &:after {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 5px;
    margin-left: -5px;
  }

  &:before {
    border-bottom-color: $color-bright-blue;
    bottom: 100%;
  }

  &:after {
    border-bottom-color: $color-white;
    bottom: 0;
  }
}


/* ---------------- Костыли для старых браузеров
-----------------------------------------------------------------*/
.unhappy-browser {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.3em;
  text-align: center;
}
