@import "value";

/* ------------- Блоки с товарами
--------------------------------------------------------------------*/
.products-section {
  font: 25px/1 $ff-em-r;
  text-align: center;
  color: $color-blue;
  overflow: hidden;
  margin-bottom: 8px;

  &__text {
    min-width: 280px;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 50%;
    left: 0;
    border-bottom: 1px solid $color-blue;
  }

  &:after {
    margin: 0 -50% 0 0;
  }

  &:before {
    margin: 0 0 0 -50%;
  }
}

.products-list {
  @extend .list-reset;
  font-size: 0;
  margin-bottom: 40px;

  &__item {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin-right: 25px;
    border: 1px solid #dce2ec;
    padding: 10px 6px 11px;
    transition: all .5s ease;

    &:hover {
      box-shadow: 0 1px 8px rgba(0,0,0,.15);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.products-headline {
  display: table;
  width: 100%;
  margin-bottom: 20px;

  &__thumb,
  &__title {
    display: table-cell;
    vertical-align: middle;
  }

  &__title {
    padding-top: 5px;
  }

  &__thumb {
    width: 93px;
    padding-right: 10px;
  }

  &__link {
    font: 15px/20px $ff-el-r;
    color: $color-bright-blue;
    text-decoration: underline;
    transition: all .7s ease;

    &:hover {
      color: $color-violet;
    }
  }
}

.products-tbl {
  padding: 0 10px;
  cursor: default;
}
.products-line {
  display: table;
  width: 100%;

  &__label,
  &__value {
    display: table-cell;
    vertical-align: middle;
    font: 14px/20px $ff-el-r;
    color: $color-blue;
  }

  &__label {
    width: 100px;
  }
}