@import "value";
/*-------------Слайдер
----------------------------------------------------*/
.slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;

  &-list {
    @extend .list-reset;
    white-space: nowrap;
    position: relative;
    width: 3000px;

    &__item {
      position: relative;
      float: left;

      &-img {
        display: block;
      }
    }

    &__tip {
      font: 14px/23px $ff-el-r;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px 23px;
      background: rgba(0, 0, 0, 0.55);

      &-title {
        font-size: 18px;
        color: $color-bright-blue;
        text-decoration: underline;
        display: inline-block;
        position: relative;

        &:hover {
          text-decoration: none;
        }
      }

      &-content {
        color: $color-white;
        position: relative;
      }
    }
  }
}

.slider__btns {
  display: none;
}
.slider__btn {
  font: 17px/18px $ff-el-b;
  color: $color-blue;
  background: $color-white;
  display: inline-block;
  padding: 9px 8px 7px;
  position: absolute;
  top: 103px;
  text-decoration: none;
  transition: all .3s linear;

  &:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 17px 7px;
    margin-top: -17px;
    transition: all .3s linear;
  }

  &_prev {
    left: 20px;

    &:before {
      right: 100%;
      border-right-color: $color-white;
    }
    &:hover:before {
      border-right-color: $color-bright-blue;
    }
  }

  &_next {
    right: 20px;

    &:before {
      left: 100%;
      border-left-color: $color-white;
    }
    &:hover:before {
      border-left-color: $color-bright-blue;
    }
  }

  &:hover {
    background: $color-bright-blue;
    color: $color-white;
  }
}


.no-rgba {
  .slider-list__tip {
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
  }
}