/*--------------Переменные
----------------------------------------------*/
$ff-el-r: 'elektra_light_proregular';
$ff-el-b: 'elektra_light_probold';
$ff-em-i: 'elektra_medium_proitalic';
$ff-em-r: 'elektra_medium_proregular';


$color-white: #fff;
$color-violet: #613993;

$color-blue: #5c7b98;
$color-bright-blue: #00b9fe;

$color-gray: #f4f6f9;
$color-light-gray: #dae1eb;

$color-pink: #f97e76;
$color-light-pink: #fdd5d2;

$color-green: #49bb7b;
$color-light-green: #c3e9d4;