@charset "UTF-8";
/* = Сборка
================================================*/
/* = Шрифты
================================================*/
@font-face {
  font-family: 'elektra_light_proregular';
  src: url("../fonts/elektra_light_pro-webfont.eot");
  src: url("../fonts/elektra_light_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_light_pro-webfont.woff2") format("woff2"), url("../fonts/elektra_light_pro-webfont.woff") format("woff"), url("../fonts/elektra_light_pro-webfont.ttf") format("truetype"), url("../fonts/elektra_light_pro-webfont.svg#elektra_light_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_light_probold';
  src: url("../fonts/font-webfont.eot");
  src: url("../fonts/font-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font-webfont.woff2") format("woff2"), url("../fonts/font-webfont.woff") format("woff"), url("../fonts/font-webfont.ttf") format("truetype"), url("../fonts/font-webfont.svg#elektra_light_probold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_medium_proitalic';
  src: url("../fonts/elektra_medium_pro_italic-webfont.eot");
  src: url("../fonts/elektra_medium_pro_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_medium_pro_italic-webfont.woff2") format("woff2"), url("../fonts/elektra_medium_pro_italic-webfont.woff") format("woff"), url("../fonts/elektra_medium_pro_italic-webfont.ttf") format("truetype"), url("../fonts/elektra_medium_pro_italic-webfont.svg#elektra_medium_proitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_medium_proregular';
  src: url("../fonts/elektra_medium_pro-webfont.eot");
  src: url("../fonts/elektra_medium_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_medium_pro-webfont.woff2") format("woff2"), url("../fonts/elektra_medium_pro-webfont.woff") format("woff"), url("../fonts/elektra_medium_pro-webfont.ttf") format("truetype"), url("../fonts/elektra_medium_pro-webfont.svg#elektra_medium_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* = Вставки и миксины
================================================*/
.list-reset, .footer-links, .social-btns, .social-list, .custom-select__list, .gallery-list, .contacts-list, .slider-list, .products-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clearfix:before,
.container:before,
.btn-container:before,
.clearfix:after, .container:after, .btn-container:after {
  content: "";
  display: table; }

.clearfix:after, .container:after, .btn-container:after {
  clear: both; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font: 1em/1.4 "elektra_light_proregular";
  color: #5c7b98;
  background: #fff;
  min-width: 1020px; }

:focus {
  outline: none; }

img {
  max-width: 100%; }

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 1020px;
  height: auto !important; }
  .wrapper:after {
    content: '';
    height: 238px;
    display: block; }

.container {
  width: 1000px;
  margin: 0 auto;
  box-sizing: content-box; }
  .container__left {
    float: left;
    width: 230px; }
  .container__right {
    float: right;
    width: 740px; }

.logo {
  margin-bottom: 18px; }
  .logo__link {
    display: block; }
  .logo__text {
    display: none; }

.main-content {
  padding: 38px 0 30px;
  position: relative; }

.footer {
  position: relative;
  height: 238px;
  margin-top: -238px;
  padding-top: 57px;
  overflow: hidden;
  background: #613993 url("../img/bg/footer-bg.png") repeat; }
  .footer__logo {
    margin-top: 42px; }
  .footer__sitemap {
    float: left;
    width: 510px; }
    .footer__sitemap-col {
      float: left;
      width: 161px; }
  .footer__socials {
    float: right;
    width: 185px;
    font-size: 0;
    margin-top: 15px; }
    .footer__socials-btns {
      margin-bottom: 26px; }

.footer-links-title {
  font: 15px/1 "elektra_light_probold";
  color: #fff;
  margin-bottom: 9px; }

.footer-links__link {
  font: 15px/25px "elektra_light_proregular";
  color: #fff;
  text-decoration: underline; }
  .footer-links__link:hover {
    text-decoration: none; }

.social-btns {
  display: inline-block; }
  .social-btns__item {
    display: inline-block; }
    .social-btns__item + .social-btns__item {
      margin-left: 5px; }
  .social-btns__link {
    display: block;
    text-decoration: none; }
  .social-btns__img {
    display: block; }

.social-list {
  display: inline-block;
  margin-left: -3px; }
  .social-list__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 7px; }
  .social-list__link {
    display: block;
    text-decoration: none; }
  .social-list__icon {
    display: block; }

.to-top-btn {
  font: 1em/1 "elektra_medium_proregular";
  color: #fff;
  background: #00b9fe;
  text-decoration: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 9px 11px;
  z-index: 100;
  display: none; }
  .to-top-btn:before,
  .to-top-btn:after {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 5px;
    margin-left: -5px; }
  .to-top-btn:before {
    border-bottom-color: #00b9fe;
    bottom: 100%; }
  .to-top-btn:after {
    border-bottom-color: #fff;
    bottom: 0; }

/* = Костыли для старых браузеров
================================================*/
.unhappy-browser {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.3em;
  text-align: center; }

/* = Общие элементы формы
================================================*/
.form-container {
  background: #f4f6f9;
  padding: 14px 10px;
  margin-bottom: 15px; }

/* Заголовок формы */
.form__title {
  font: 25px/1 "elektra_medium_proregular";
  color: #5c7b98;
  margin-bottom: 20px; }

/* Оформление инпутов */
.form-line {
  margin-bottom: 15px;
  display: table;
  width: 100%; }
  .form-line__label,
  .form-line__field {
    display: table-cell;
    vertical-align: middle; }
  .form-line__label {
    padding-right: 7px;
    min-width: 77px;
    max-width: 90px; }
  .form-line__label-text {
    font: 14px/1 "elektra_light_proregular";
    color: #5c7b98; }
  .form-line__field {
    line-height: 0; }
    .form-line__field_right {
      text-align: right; }

/* Инпуты оформление */
.form-control, .form-input, .form-textarea {
  font: 12px "elektra_light_proregular";
  color: #5c7b98;
  padding: 4px 7px;
  width: 100%;
  border: 1px solid #dae1eb; }
  .form-control::-webkit-input-placeholder, .form-input::-webkit-input-placeholder, .form-textarea::-webkit-input-placeholder {
    font: 12px "elektra_light_proregular";
    color: #dae1eb;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .form-control::-moz-placeholder, .form-input::-moz-placeholder, .form-textarea::-moz-placeholder {
    font: 12px "elektra_light_proregular";
    color: #dae1eb;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .form-control:-ms-input-placeholder, .form-input:-ms-input-placeholder, .form-textarea:-ms-input-placeholder {
    font: 12px "elektra_light_proregular";
    color: #dae1eb;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .form-control::placeholder, .form-input::placeholder, .form-textarea::placeholder {
    font: 12px "elektra_light_proregular";
    color: #dae1eb;
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis; }
  .form-control:focus::-webkit-input-placeholder, .form-input:focus::-webkit-input-placeholder, .form-textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .form-control:focus::-moz-placeholder, .form-input:focus::-moz-placeholder, .form-textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .form-control:focus:-ms-input-placeholder, .form-input:focus:-ms-input-placeholder, .form-textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .form-control:focus::placeholder, .form-input:focus::placeholder, .form-textarea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }

.error {
  background: #fdd5d2;
  border-color: #f97e76; }
  .error::-webkit-input-placeholder {
    color: #f97e76; }
  .error::-moz-placeholder {
    color: #f97e76; }
  .error:-ms-input-placeholder {
    color: #f97e76; }
  .error::placeholder {
    color: #f97e76; }

.form-input {
  height: 26px; }

.form-textarea {
  height: 69px;
  max-height: 200px;
  resize: vertical; }

/* Выпадающие списки для формы */
.custom-select {
  position: relative;
  width: 52px;
  display: inline-block;
  vertical-align: top;
  background: #fff; }
  .custom-select + .custom-select {
    margin-left: 5px; }
  .custom-select__control {
    color: #dae1eb;
    padding: 5px 26px 4px 5px;
    cursor: pointer;
    text-align: left;
    position: relative; }
    .custom-select__control:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 24px;
      width: 27px;
      background-color: #00b9fe;
      background-image: url("../img/icon/select-arrow.jpg");
      background-repeat: no-repeat;
      cursor: pointer; }
    .custom-select__control_selected {
      color: #5c7b98; }
    .custom-select__control.error {
      color: #f97e76; }
  .custom-select__list {
    display: none;
    font: 12px/1 "elektra_light_proregular";
    padding: 2px 0 2px 2px;
    text-align: left;
    background: #fff;
    border: 1px solid #dae1eb;
    max-height: 225px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0; }
    .custom-select__list-item {
      padding: 4px 6px;
      display: block;
      cursor: pointer; }
      .custom-select__list-item:hover {
        background-color: #f4f6f9; }
      .custom-select__list-item:first-child {
        padding-top: 6px; }
      .custom-select__list-item:last-child {
        padding-bottom: 6px; }

.ie .custom-select__control {
  color: #5c7b98; }

/* Фильтры для скролла ИЕ */
.mCSB_scrollTools {
  width: 10px; }
  .mCSB_scrollTools .mCSB_draggerRail {
    background: none; }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #00b9fe;
    border-radius: 0;
    width: 7px; }
  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #009fda;
    -webkit-filter: none;
    filter: none;
    -ms-filter: none; }

.mCSB_inside > .mCSB_container {
  margin-right: 11px; }

/* = Кнопки на форме
================================================*/
.btn {
  font: 15px "elektra_light_probold";
  color: #fff;
  padding: 8px 5px;
  min-width: 90px;
  text-align: center;
  background: #00b9fe;
  border: none;
  transition: background 0.3s ease;
  cursor: pointer; }
  .btn:hover {
    background: #009fda; }
  .btn_neg {
    background: #dae1eb; }
    .btn_neg:hover {
      background: #c3cede; }

.btn_to_left {
  float: left; }

.btn_to_right {
  float: right; }

.btn[disabled] {
  opacity: 0.5; }

/* = Обработка ошибок
================================================*/
.message {
  font-size: 12px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid;
  border-radius: 2px; }
  .message_error {
    color: #f97e76;
    background: #fdd5d2;
    border-color: #f97e76; }
  .message_success {
    color: #49bb7b;
    background: #c3e9d4;
    border-color: #49bb7b; }

/* = Тултипы
================================================*/
.tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  transition: all 0.4s ease; }
  .tooltip__inner {
    font-size: 12px;
    color: #fff;
    padding: 5px 8px;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    background: #f97e76;
    border-radius: 2px;
    white-space: nowrap; }
    .tooltip__inner:after {
      content: "";
      position: absolute;
      border-color: transparent;
      border-style: solid; }

.tooltip_right,
.tooltip_left {
  padding: 0 5px; }
  .tooltip_right .tooltip__inner:after,
  .tooltip_left .tooltip__inner:after {
    top: 50%;
    margin-top: -5px; }

.tooltip_top,
.tooltip_bottom {
  padding: 5px 0; }
  .tooltip_top .tooltip__inner:after,
  .tooltip_bottom .tooltip__inner:after {
    left: 50%;
    margin-left: -5px; }

.tooltip_right .tooltip__inner:after {
  left: 0;
  border-width: 5px 5px 5px 0;
  border-right-color: #f97e76; }

.tooltip_left .tooltip__inner:after {
  right: 0;
  border-width: 5px 0 5px 5px;
  border-left-color: #f97e76; }

.tooltip_bottom .tooltip__inner:after {
  top: 0;
  border-width: 0 5px 5px;
  border-bottom-color: #f97e76; }

.tooltip_top .tooltip__inner:after {
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #f97e76; }

/* = Галлерея из картинок
================================================*/
.gallery-list {
  font-size: 0;
  margin: 0 0 20px -10px; }
  .gallery-list__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px 10px; }

/* = Contacts
================================================*/
.contacts-list {
  background: #f4f6f9;
  padding: 15px 15px 15px 23px; }
  .contacts-list__item + .contacts-list__item {
    margin-top: 10px; }
  .contacts-list__link {
    font: 14px/20px "elektra_light_proregular";
    color: #5c7b98;
    text-decoration: none; }

.contacts-icon {
  position: relative; }
  .contacts-icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 22px; }
  .contacts-icon_location {
    padding-left: 20px; }
    .contacts-icon_location:before {
      background: url("../img/icon/location-icon.png") no-repeat 0 0; }
  .contacts-icon_phone {
    padding-left: 40px; }
    .contacts-icon_phone:before {
      left: 20px;
      background: url("../img/icon/phone-icon.png") no-repeat 0 0; }

.slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px; }
  .slider-list {
    white-space: nowrap;
    position: relative;
    width: 3000px; }
    .slider-list__item {
      position: relative;
      float: left; }
      .slider-list__item-img {
        display: block; }
    .slider-list__tip {
      font: 14px/23px "elektra_light_proregular";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px 23px;
      background: rgba(0, 0, 0, 0.55); }
      .slider-list__tip-title {
        font-size: 18px;
        color: #00b9fe;
        text-decoration: underline;
        display: inline-block;
        position: relative; }
        .slider-list__tip-title:hover {
          text-decoration: none; }
      .slider-list__tip-content {
        color: #fff;
        position: relative; }

.slider__btns {
  display: none; }

.slider__btn {
  font: 17px/18px "elektra_light_probold";
  color: #5c7b98;
  background: #fff;
  display: inline-block;
  padding: 9px 8px 7px;
  position: absolute;
  top: 103px;
  text-decoration: none;
  transition: all 0.3s linear; }
  .slider__btn:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 17px 7px;
    margin-top: -17px;
    transition: all 0.3s linear; }
  .slider__btn_prev {
    left: 20px; }
    .slider__btn_prev:before {
      right: 100%;
      border-right-color: #fff; }
    .slider__btn_prev:hover:before {
      border-right-color: #00b9fe; }
  .slider__btn_next {
    right: 20px; }
    .slider__btn_next:before {
      left: 100%;
      border-left-color: #fff; }
    .slider__btn_next:hover:before {
      border-left-color: #00b9fe; }
  .slider__btn:hover {
    background: #00b9fe;
    color: #fff; }

.no-rgba .slider-list__tip {
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)"; }

/* = Блоки с товарами
================================================*/
.products-section {
  font: 25px/1 "elektra_medium_proregular";
  text-align: center;
  color: #5c7b98;
  overflow: hidden;
  margin-bottom: 8px; }
  .products-section__text {
    min-width: 280px;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle; }
  .products-section:before,
  .products-section:after {
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 50%;
    left: 0;
    border-bottom: 1px solid #5c7b98; }
  .products-section:after {
    margin: 0 -50% 0 0; }
  .products-section:before {
    margin: 0 0 0 -50%; }

.products-list {
  font-size: 0;
  margin-bottom: 40px; }
  .products-list__item {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin-right: 25px;
    border: 1px solid #dce2ec;
    padding: 10px 6px 11px;
    transition: all 0.5s ease; }
    .products-list__item:hover {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15); }
    .products-list__item:nth-child(3n) {
      margin-right: 0; }

.products-headline {
  display: table;
  width: 100%;
  margin-bottom: 20px; }
  .products-headline__thumb,
  .products-headline__title {
    display: table-cell;
    vertical-align: middle; }
  .products-headline__title {
    padding-top: 5px; }
  .products-headline__thumb {
    width: 93px;
    padding-right: 10px; }
  .products-headline__link {
    font: 15px/20px "elektra_light_proregular";
    color: #00b9fe;
    text-decoration: underline;
    transition: all 0.7s ease; }
    .products-headline__link:hover {
      color: #613993; }

.products-tbl {
  padding: 0 10px;
  cursor: default; }

.products-line {
  display: table;
  width: 100%; }
  .products-line__label,
  .products-line__value {
    display: table-cell;
    vertical-align: middle;
    font: 14px/20px "elektra_light_proregular";
    color: #5c7b98; }
  .products-line__label {
    width: 100px; }
